<footer class="footer">
    <div class="row">
        <div class="col-12 col-md-4">
            <ul>
                <li>Email: <a href="mailto:rwallaceguitar@gmail.com">example@example.com</a></li>
                <li>Physical address</li>
                <li>Other contact info</li>
            </ul>
            
        </div>
        <div class="col-12 col-md-4">
            <ul>
                <li>Follow us on social media</li>
                <li>FB Insta Twitter</li>
                <li>copyright</li>
            </ul>
        </div>
        <div class="col-12 col-md-4">
            <ul>
                <li>Event Calendar</li>
                <li>Members</li>
                <li>Donate</li>
            </ul>
        </div>
    </div>
</footer>