<div class="jumbotron">
    <div class="cover">
        <div class="pop-out">
            <h2 class="underline centered mb-5">Who Governs the Governor’s Council?</h2>
            <p>
                The Governor’s Council is an eight-member elected body that, among other functions, vets all
                judges and members of the Parole Board and votes on pardons and commutations. Despite its
                importance, few voters know its functions nor their own Governor’s Councilors.
            </p>
            <p>
                One of the least well-known elected positions in Massachusetts is that of Governor’s Councilor. The
                purpose of this project is to educate voters so they will be more aware of its importance, including its
                role in the criminal legal system, and more informed when they vote.
            </p>
        </div>
    </div>
</div>